<h1>Sequelize User Application</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste omnis, aperiam esse animi rem officiis quod at nesciunt possimus blanditiis et, accusamus suscipit dolorum doloribus debitis commodi quisquam nostrum eos.</p>
<br>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Adipisci fugiat voluptatibus, quo minus iste asperiores illo reiciendis quasi, temporibus ad enim quisquam. Accusantium facere similique inventore in impedit, magnam tenetur.</p>

<br>
<h2>About us</h2>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit delectus qui voluptatum recusandae pariatur. Modi sunt architecto, velit excepturi et alias! Quidem molestiae vel, corrupti tempore temporibus inventore aliquid fugiat.</p>
<br>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ea expedita sint minima nam dolorum iste accusantium in beatae aperiam harum quidem alias cupiditate dolor, ab omnis dolore, non vero!</p>